:root
{
    --header-color: rgb(245, 117, 106);

    --text-color: rgb(54, 56, 97);
}

body
{
    min-height: 100vh;
}

.row
{
    display: flex;
    height:100%;
}

.col
{
    width:50%;
}

a, a:visited, a:hover, a:active
{
    text-decoration: none;

    color: var(--text-color);
}

header, footer
{
    background-color: var(--header-color);

    text-align: center;

    padding: 1rem 0 1rem 0;
}

ul
{
    list-style-type: none;
}

.header-links
{
    list-style-type: none;
    display: inline-flex;
}

.sidenav 
{
    width:10%;
    height:100%;
    background-color: #111; 
    overflow-y: overflow; 
}

.local-sidebar, .suggested-sidebar
{
    height:50%;
}

#main-content
{
    width: 90%;
}

main
{
    height: 100vh;
}

.header-list
{
    margin: 0 5rem 0 5rem;
}

#header-logo
{
    max-width: 25%;
    max-height: 25%;

    margin: 0 0 1rem 0;
}

#footer-logo
{
    max-width: 100%;
    max-height: 100%;
}

#footer-nav
{
    display: flex;
    justify-content: center;
}

#footer-div h2
{
    width: 50%;
}

#footer-links
{
    text-align: left;

}

.footer-font
{
    font-size: 2rem;
    font-weight: bold;

    padding: 0 0 0.5rem 0;

    color: var(--text-color);
}