body{
    background-color: rgba(214, 216, 209, 0.856);
}


.containers{
  display: flex;
  justify-content:center;
  margin: 80px;
  align-self: center;
  padding: 10px 10px 20px 10px;
  box-shadow: 10px 10px 8px #888888;
   
}
  
  #nav-text{
    float: left;
    padding: 10px;
    background: white;
    font-weight: bold;
    margin-bottom:0;
    width: 100%;
    text-align: center;
    border: solid black;
    margin-top: 0px;
    font-size: xxx-large;
    font-family:Georgia;
    box-shadow: 10px 10px 8px #888888;
    
   }

   #food-pic{
    height: 380px;
    width: 1360px ;
   }
 
  .first-box, .second-box {
    width:500px; 
    background: white; 
    height: 490px;
    border: solid black;
     
  }
  
  .first-box p {
    color: black;
    padding-left: 160px;
    padding-top: 50px;
    font-weight: bold;
    font-size: x-large;
    font-family:Georgia;
    
  }
  
   .second-box p {
    color:black;
    padding-left: 200px;
    padding-top: 50px;
    font-weight: bold;
    font-size: x-large;
    font-family:Georgia;
    
  }
  
  .recipe-form-container{
    font-size: 2.4rem;
	  text-align: center;
	  color:white;
    flex: auto;
  }

  input {
    margin-bottom: 2px;
    width: 35rem;
    padding:1.5rem;
    font-size:medium;
    box-shadow: 1 0.1rem 1.4 rem 0 black;
  }