:root
{
    --header-color: rgb(245, 117, 106);

    --text-color: rgb(54, 56, 97);

    --background-color: #85DCBD;

    --sidebar-color: #C38D9E;

    --searchbar-color: #41B3A3; 
}

body
{
	background-color: rgba(214, 216, 209, 0.856);
}

hr
{
    border-top: 1px solid black;
}

.row
{
    margin:0;
}

a, a:visited, a:hover, a:active
{
    text-decoration: none;
}

header, footer
{
    background-color: var(--header-color);
}
  
ul
{
    list-style-type: none;
}

.header-links
{
    list-style-type: none;
}

.sidenav 
{
    overflow-y: overflow; 
}


.footer-font
{
    font-size: 2rem;
    font-weight: bold;

    color: var(--text-color);
}
 
  .content-box
{
    width:500px; 
    height: 500px;
    border: solid black;
     /* THESE TWO LINES ARE NEEDED FOR IFRAME ON WIKIAPI */
    overflow: hidden;
    position : relative;
  }
  
  .content-box p {
    font-weight: bold;
    font-size: 2rem;
    font-family:Georgia;
    
  }


iframe
{
    position : absolute;
    top      : -100px;
    left     : -150px;
    width: 130%;
    height: 130%;
}
